# Dependencies
node_modules/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Uploaded user files
uploads/*
!uploads/.gitkeep
!uploads/audio/.gitkeep

# Scratch directory
scratch/


